@charset "utf-8";

main{
    background-color:darkslategray;
    border-radius: 10px;
    border-color: black;
    border-style:groove;
    border-width: 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

article{
    background-color:bisque;
    border-radius: 10px;
    border-color: black;
    border-style:groove;
    border-width: 1px;
    width: 31%;
    padding: 20px;
    margin: 10px;
}

.With-currency{
    border-color:black;
    border-width: 5px;
    border-style:groove;
                
}
.clase-tabla-prodct{
    border-color:black;
    border-width: 1px;
    border-style:groove;
    background-color:goldenrod;
}

th{
    border-color:black;
    border-width:1px;
    border-style:groove;
    background-color:aqua;    
}

td{
    border-color:black;
    border-width:1px;
    border-style:groove;
    background-color: aliceblue;    
    
}

.total{
    border-color:black;
    border-width:1px;
    border-style:groove;
    background-color:green;
    text-align: right;
}
